<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Title</key>
		<string>Hints mode activation</string>
		<key>Type</key>
		<string>Group</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<string>ctrlKey</string>
		<key>Key</key>
		<string>hintsModeModifier</string>
		<key>Title</key>
		<string>Modifier</string>
		<key>Titles</key>
		<array>
			<string>Control</string>
			<string>Alt</string>
			<string>None</string>
			<string>Disabled</string>
		</array>
		<key>Type</key>
		<string>RadioButtons</string>
		<key>Values</key>
		<array>
			<string>ctrlKey</string>
			<string>altKey</string>
			<string>returnValue</string>
			<string>iAmDisabled</string>
		</array>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<string>F</string>
		<key>Key</key>
		<string>hintsModeKey</string>
		<key>Title</key>
		<string>Key</string>
		<key>Type</key>
		<string>TextField</string>
	</dict>
	<dict>
		<key>Type</key>
		<string>Separator</string>
	</dict>
	<dict>
		<key>Title</key>
		<string>Scroll down</string>
		<key>Type</key>
		<string>Group</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<string>ctrlKey</string>
		<key>Key</key>
		<string>scrollDownModifier</string>
		<key>Title</key>
		<string>Modifier</string>
		<key>Titles</key>
		<array>
			<string>Control</string>
			<string>Alt</string>
			<string>None</string>
			<string>Disabled</string>
		</array>
		<key>Type</key>
		<string>RadioButtons</string>
		<key>Values</key>
		<array>
			<string>ctrlKey</string>
			<string>altKey</string>
			<string>returnValue</string>
			<string>iAmDisabled</string>
		</array>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<string>J</string>
		<key>Key</key>
		<string>scrollDownKey</string>
		<key>Title</key>
		<string>Key</string>
		<key>Type</key>
		<string>TextField</string>
	</dict>
	<dict>
		<key>Type</key>
		<string>Separator</string>
	</dict>
	<dict>
		<key>Title</key>
		<string>Scroll up</string>
		<key>Type</key>
		<string>Group</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<string>ctrlKey</string>
		<key>Key</key>
		<string>scrollUpModifier</string>
		<key>Title</key>
		<string>Modifier</string>
		<key>Titles</key>
		<array>
			<string>Control</string>
			<string>Alt</string>
			<string>None</string>
			<string>Disabled</string>
		</array>
		<key>Type</key>
		<string>RadioButtons</string>
		<key>Values</key>
		<array>
			<string>ctrlKey</string>
			<string>altKey</string>
			<string>returnValue</string>
			<string>iAmDisabled</string>
		</array>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<string>K</string>
		<key>Key</key>
		<string>scrollUpKey</string>
		<key>Title</key>
		<string>Key</string>
		<key>Type</key>
		<string>TextField</string>
	</dict>
	<dict>
		<key>Type</key>
		<string>Separator</string>
	</dict>
	<dict>
		<key>Title</key>
		<string>Next tab</string>
		<key>Type</key>
		<string>Group</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<string>ctrlKey</string>
		<key>Key</key>
		<string>nextTabModifier</string>
		<key>Title</key>
		<string>Modifier</string>
		<key>Titles</key>
		<array>
			<string>Control</string>
			<string>Alt</string>
			<string>None</string>
			<string>Disabled</string>
		</array>
		<key>Type</key>
		<string>RadioButtons</string>
		<key>Values</key>
		<array>
			<string>ctrlKey</string>
			<string>altKey</string>
			<string>returnValue</string>
			<string>iAmDisabled</string>
		</array>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<string>I</string>
		<key>Key</key>
		<string>nextTabKey</string>
		<key>Title</key>
		<string>Key</string>
		<key>Type</key>
		<string>TextField</string>
	</dict>
	<dict>
		<key>Type</key>
		<string>Separator</string>
	</dict>
	<dict>
		<key>Title</key>
		<string>Previous tab</string>
		<key>Type</key>
		<string>Group</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<string>ctrlKey</string>
		<key>Key</key>
		<string>prevTabModifier</string>
		<key>Title</key>
		<string>Modifier</string>
		<key>Titles</key>
		<array>
			<string>Control</string>
			<string>Alt</string>
			<string>None</string>
			<string>Disabled</string>
		</array>
		<key>Type</key>
		<string>RadioButtons</string>
		<key>Values</key>
		<array>
			<string>ctrlKey</string>
			<string>altKey</string>
			<string>returnValue</string>
			<string>iAmDisabled</string>
		</array>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<string>U</string>
		<key>Key</key>
		<string>prevTabKey</string>
		<key>Title</key>
		<string>Key</string>
		<key>Type</key>
		<string>TextField</string>
	</dict>
	<dict>
		<key>Type</key>
		<string>Separator</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<string>altKey</string>
		<key>Key</key>
		<string>switchTabModifier</string>
		<key>Title</key>
		<string>Number keys tab switching</string>
		<key>Titles</key>
		<array>
			<string>Control</string>
			<string>Alt</string>
			<string>None</string>
			<string>Disabled</string>
		</array>
		<key>Type</key>
		<string>RadioButtons</string>
		<key>Values</key>
		<array>
			<string>ctrlKey</string>
			<string>altKey</string>
			<string>returnValue</string>
			<string>iAmDisabled</string>
		</array>
	</dict>
	<dict>
		<key>Type</key>
		<string>Separator</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<false/>
		<key>Key</key>
		<string>consumeFocus</string>
		<key>Title</key>
		<string>Consume element's focus on page load (useful if you don't use modifier for shortcuts)</string>
		<key>Type</key>
		<string>CheckBox</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<real>70</real>
		<key>Key</key>
		<string>hintsModeCharCode</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<real>73</real>
		<key>Key</key>
		<string>nextTabCharCode</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<real>85</real>
		<key>Key</key>
		<string>prevTabCharCode</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<real>74</real>
		<key>Key</key>
		<string>scrollDownCharCode</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<real>75</real>
		<key>Key</key>
		<string>scrollUpCharCode</string>
	</dict>
</array>
</plist>
